<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/MisEstilos/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css" />

    <style>

        .tables{ width: 90%; margin: 0 auto;}

    </style>
</head>
<body>
    <!--Navegacion-->

    <nav class="navbar navbar-dark navbar-expand-md sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="~/Areas/Admin/Index">
            <img src="~/Images/Logo.svg" class="d-inline-block logo-svg align-top" alt="Logo Bootstrap">
        </a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav ml-auto  mr-auto text-center">
                <li class="nav-item ">@Html.ActionLink("Registro", "Index", "Admin", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Servicios", "Service", "Admin", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Reservaciones", "Reservation", "Admin", new { @class = "nav-link" })</li>
       
            </ul>
        
          <div class="d-flex flex-row justify-content-center">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
    <!--Termina Barra de Navegacion-->

    <div class="tables">
        @RenderBody()
    </div>

    
     <hr />

        <!--Footer-->
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4 ">
            <!--Social buttons-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-youtube"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
            <!--/.Social buttons-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © 2018 Copyright: Aplicaciones Distribuidas
                </div>
            </div>
        </footer>
        <!--/ Termina Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/MisScripts/js")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"></script>
   
    <script>



        $(document).ready(function () {


            allCustomers()
            $(document).on('click', '.btnDeleteReservation', function () {
                var values = []

                $('#Reservations td').each(function (x, y) {
                    var value = $(this).text()
                    values.push(value)
                })
                deleteCustomer(values[0])

            })
        })


        function allCustomers() {
            $('#Reservations').DataTable({


                "ajax": {
                    "url": "../../Api/CatReservaciones",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameService" },
                    { "data": "nameStore" },
                    { "data": "email" },
                    { "data": "name" },
                    { "data": "nameFL" },
                    { "data": "dateReservation" },
                    { "data": "reservation" },
                    { "data": "process" },
                    {
                        "defaultContent": 
                                "<a href='#' class='btn btn-info  active' data-toggle='modal' role='button' data-target='#exampleModal'>Eliminar</a>" +
                                "<div class='modal fade' id='exampleModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>" +
                                     "<div class='modal-dialog' role='document'>" +
                                         "<div class='modal-content'> " +
                                             "<div class='modal-header'>" +
                                                "<h5 class='modal-title' id='exampleModalLabel'>Eliminar Registro</h5>" +
                                                "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                                                       "<span aria-hidden='true'>&times;</span> " +
                                                "</button>" +
                                              "</div>" +
                                              "<div class='modal-body'>" +
                                               "¿Esta Seguro que quiere ELIMINAR ESTE REGISTRO?" +
                                            "</div>" +
                                            "<div class='modal-footer'>" +
                                                "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Salir</button>" +
                                                "<button type='button' class='btn btn-primary' id='btnDeleteReservation'>Eliminar</button>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" 
                    },
                ],
                "ServerSide": "true",
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'pdfHtml5',
                        text: 'pdf',
                        titleAtrr: 'PDF'

                    },
                ],
                "language": traduccion_espaniol

            })
        }



        /*Eliminacion de cliente*/


        function deleteCustomer(id) {
            var url = "../../Api/CatReservaciones/Reservacion/" + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: "application/json;chartset=utf-8",
                statusCode: {
                    200: function () {

                        alert('La reservacion con : ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('Eli cliente con: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }




        /*Variable para la traduccion de DataTable la cual contine los atributos Json necesarios */
        var traduccion_espaniol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }


    </script>

   
</body>
</html>