<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barberia The Pepe's Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/MisEstilos/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css" />

    <style>

        .tables{ width: 85%; margin: 0 auto;}
        .registerSale{width : 85%; margin: 0 auto; border:1px dashed #30e2fb; background: #f1f1f1}
    

    </style>
</head>
<body>
    <!--Navegacion-->

    <nav class="navbar navbar-dark navbar-expand-md sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="~/Admin/Admin/Index">
            <img src="~/Images/Logo.svg" class="d-inline-block logo-svg align-top" alt="Logo Bootstrap">
        </a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav ml-auto  mr-auto text-center">
                <li class="nav-item ">@Html.ActionLink("Registro", "Index", "Admin", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Servicios", "Service", "Admin", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Reservaciones", "Reservation", "Admin", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Empleados", "Employ", "Admin", new { @class = "nav-link" })</li>
            </ul>
        
          <div class="d-flex flex-row justify-content-center">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
    <!--Termina Barra de Navegacion-->

    <div class="tables">
        @RenderBody()
    </div>

    

    
     <hr />

        <!--Footer-->
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4 ">
            <!--Social buttons-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-youtube"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
            <!--/.Social buttons-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © 2018 Copyright: Aplicaciones Distribuidas
                </div>
            </div>
        </footer>
        <!--/ Termina Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/MisScripts/js")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"></script>
   
    <script>



        $(document).ready(function () {
            var idReservation = ''
            var idService = ''
            var idEmploye = ''
            comboService()
            $('#rDate').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                todayBtn: "linked",
                language: "es"
            })
            $("#rHour").timepicker({
                template: 'modal',
                timeFormat: 'hh:mm p',
                interval: 60,
                minTime: '10',
                maxTime: '6:00pm',
                startTime: '10:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            })
            /*Reservaciones*/

            allReservations()

            $(document).on('click', '#btnDeleteReservationModal', function () {
                
                idReservation = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteReservation').on('click', function () {
                deleteReservation(idReservation)
            })

            $(document).on('click', '#btnSearchReservationModal', function () {             
                idReservation = $(this).parents("tr").find("td").eq(0).html();
                searchReservation(idReservation)

            })

            $('#btnUpdateReservation').on('click', function () {

                var reservation = new Object()

                reservation.id = idReservation
                reservation.email = $('#rEmail').val()
                reservation.name = $('#rName').val()
                reservation.flName = $('#rflName').val()
                reservation.idService = $('#rService').val()
                reservation.process = $('#rProcess').val()
                reservation.reservation = $('#rDate').val() + ' ' + $('#rHour').val()
                updateReservation(reservation.id, JSON.stringify(reservation))

            })
            /*Servicios*/
            allServices()
            $(document).on('click', '#btnDeleteServiceModal', function () {

                idService = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteService').on('click', function () {
                deleteService(idService)
            })
            $(document).on('click', '#btnSearchServiceModal', function () {
                idService = $(this).parents("tr").find("td").eq(0).html();
                searchService(idService)

            })

            $('#btnUpdateService').on('click', function () {

                var service = new Object()

                service.id = idService
                service.name = $('#sName').val()
                service.type = $('#sType').val()
                service.price = $('#sPrice').val()
                service.description = $('#sDescription').val()
                updateService(service.id, JSON.stringify(service))

            })
            /*Empleados*/
            allEmployees()
            $('#btnCreateEmploye').on('click', function () {
                var employe = new Object()

                employe.name = $('#ecName').val()
                employe.firstName = $('#ecfName').val()
                employe.lastName = $('#eclName').val()
                employe.cellPhone = $('#ecPhone').val()
               
                createEmploye(JSON.stringify(employe))
            })
            $(document).on('click', '#btnDeleteEmployeModal', function () {

                idEmploye = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteEmploye').on('click', function () {
                deleteEmploye(idEmploye)
            })
            $(document).on('click', '#btnSearchEmployeModal', function () {
                idEmploye = $(this).parents("tr").find("td").eq(0).html();
                searchEmploye(idEmploye)

            })

            $('#btnUpdateEmploye').on('click', function () {

                var employe = new Object()

                employe.id = idEmploye
                employe.name = $('#eName').val()
                employe.firstName = $('#efName').val()
                employe.lastName = $('#elName').val()
                employe.cellPhone = $('#ePhone').val()
                updateEmploye(employe.id, JSON.stringify(employe))

            })
        })






/*---------------------------------------------------------------INICIAN FUNCIONES DE RESERVACIONES---------------------------------------------------------*/



        /*LISTA DE TODAS LAS RESERVACIONES*/
        function allReservations() {
            $('#listReservations').DataTable({
                'stateSave': true,
                'scrollY':'600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy' : true,
                'ajax': {
                    'url': '../../Api/CatReservaciones',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameService" },
                    { "data": "nameStore" },
                    { "data": "email" },
                    { "data": "name" },
                    { "data": "nameFL" },
                    { "data": "dateReservation" },
                    { "data": "reservation" },
                    { "data": "process" },
                    {
                        "defaultContent": 
                                
                                "<button type='button' id='btnDeleteReservationModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteReservation' >Eliminar</button>" +
                                "<button type='button' id='btnSearchReservationModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateReservation' >Modificar</button>"           
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons' : [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }



        /*ACTUALIZACION DE RESERVACION*/
        function updateReservation(id, reservation) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: reservation,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('cliente con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('cliente con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE RESERVACION POR ID*/
        function searchReservation(id) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.getJSON(url)
                .done(function (data) {

                    var date = data.reservation
                    var date = date.substring(0, 10)
                    var hour = data.reservation
                    var hour = hour.substring(11, 19)
                    $('#rEmail').val(data.email)
                    $('#rName').val(data.name)
                    $('#rflName').val(data.flName)
                    $('#rService').val(data.idService)
                    $('#rProcess').val(data.process)
                    $('#rDate').val(date)
                    $('#rHour').val(hour)
                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*ELIMINACION DE RESERVACION*/
        function deleteReservation(id) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('La reservacion con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('La reservaion con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }


        /*DESPLIEGUE DE SERVICIOS PARA FORMULARIO */
        function comboService() {
            var url = '../../Api/ComServicio'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#rService').append(value)
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE RESERVACIONES--------------------------------------------------------------*/


/*--------------------------------------------------------INICIAN FUNCIONES DE SERVICIOS--------------------------------------------------------------------*/




        /*LISTA DE TODOS LOS SERVICIOS*/
        function allServices() {
            $('#listServices').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/CatServicio',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "name" },
                    { "data": "type" },
                    { "data": "description" },
                    { "data": "price" },
                    {
                        "defaultContent":
                                "<button type='button' id='btnDeleteServiceModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteService' >Eliminar</button>" +
                                "<button type='button' id='btnSearchServiceModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateService' >Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                     {
                         'extend': 'pdfHtml5',
                         'text': 'Reporte PDF',
                         'titleAttr': 'pdf'

                     }
                ],
                'language': traduccion_espaniol

            })
        }



        /*ACTUALIZACION DE SERVICIOS*/
        function updateService(id, service) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: service,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Servicio con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Servicio con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE SERVICIO POR ID*/
        function searchService(id) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.getJSON(url)
                .done(function (data) {

                   
                    $('#sName').val(data.name)
                    $('#sType').val(data.type)
                    $('#sPrice').val(data.price)
                    $('#sDescription').val(data.description)
                    
                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*ELIMINACION DE SERVICIO*/
        function deleteService(id) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El servicio  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El servicio con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE SERVICIOS--------------------------------------------------------------------*/



/*--------------------------------------------------------INICIAN FUNCIONES DE EMPLEADOS----------------------------------------------------------------------*/



        /*LISTA DE TODOS LOS EMPLEADOS*/
        function allEmployees() {
            $('#listEmployees').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/CatEmpleados',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "name" },
                    { "data": "firstName"},
                    { "data": "lastName" },
                    { "data": "cellPhone" },
                    {
                        "defaultContent":
                                "<button type='button' id='btnDeleteEmployeModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteEmploye' >Eliminar</button>" +
                                "<button type='button' id='btnSearchEmployeModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateEmploye' >Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                     {
                         'extend': 'pdfHtml5',
                         'text': 'Reporte PDF',
                         'titleAttr': 'pdf'

                     }
                ],
                'language': traduccion_espaniol

            })
        }



        /*CREACION DE EMPLEADO*/
        function createEmploye(employe) {
            $.ajax({

                url: '../../Api/CatEmpleados/Empleado/',
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: employe,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Su Empleado ha sido Registrado")
                        console.log("Su Empleado ha sido Registrado")
                        location.reload()
                    },
                    400: function () {

                        alert("Su Empleado no pudo ser Registrado con exito")
                        location.reload()

                    }
                }
            })
        }


        /*ACTUALIZACION DE EMPLEADO*/
        function updateEmploye(id, employe) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: employe,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('El empleado con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('El Empleado con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE EMPLEADO POR ID*/
        function searchEmploye(id) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#eName').val(data.name)
                    $('#efName').val(data.firstName)
                    $('#elName').val(data.lastName)
                    $('#ePhone').val(data.cellPhone)

                })
                .fail(function (erro) {
                    Console.log("Empleado  no encontrado")
                });
        };


        /*ELIMINACION DE EMPLEADO*/
        function deleteEmploye(id) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El Empleado  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El Empleado con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE EMPLEADO--------------------------------------------------------------------*/

























        /*VARIABLE GLOBAL QUE TRADUCE LOS COMPONENTES DEL DATATABLE*/
        var traduccion_espaniol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }


    </script>

   
</body>
</html>