<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barberia The Pepe's Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/MisEstilos/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css" />

    <style>

        .tables{ width: 90%; margin: 0 auto;}
        .registerSale{width : 85%; margin: 0 auto; border:1px dashed #30e2fb; background: #f1f1f1}
        .tableBuyed{width: 85%; margin: 0 auto}
    

    </style>
</head>
<body>
    <!--Navegacion-->

    <nav class="navbar navbar-dark navbar-expand-md sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="~/Admin/Admin/Index">
            <img src="~/Images/Logo.svg" class="d-inline-block logo-svg align-top" alt="Logo Bootstrap">
        </a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav ml-auto  mr-auto text-center">
                <li class="nav-item ">@Html.ActionLink("Registro", "Index", "Admin",new { Area = "Admin" } ,new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Servicios", "Service", "Admin", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Reservaciones", "Reservation", "Admin", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Empleados", "Employe", "Admin", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Ventas", "Sale", "Admin", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Inventario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Ventas", "SaleInventary", "Admin", new { Area = "Admin" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Compras", "BuyedInventary", "Admin", new { Area = "Admin" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Productos", "Products", "Admin", new { Area = "Admin" }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        
          <div class="d-flex flex-row justify-content-center">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
    <!--Termina Barra de Navegacion-->

    <div class="tables">
        @RenderBody()
    </div>

    

    
     <hr />

        <!--Footer-->
        <footer class="page-footer font-small stylish-color-dark pt-4 mt-4 ">
            <!--Social buttons-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-youtube"></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
            <!--/.Social buttons-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    © 2018 Copyright: Aplicaciones Distribuidas
                </div>
            </div>
        </footer>
        <!--/ Termina Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/MisScripts/js")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"></script>
   
    <script>



        $(document).ready(function () {
            var idReservation = ''
            var idService = ''
            var idEmploye = ''
            var idRegisterSalesr = ''
            var idRegisterSaless = ''
            var idSaleProduct = ''
            var idRegisterSalesp = ''
            var idProduct = ''
            var idBuyed = ''
            comboService()
            combosrService()
            combosrEmploye()
            combosrNameCustomer()
            combossService()
            combossEmploye()
            combosStore()
            combospProduct()
            combospStore()
            comboBrand()
            comboType()
            comboBrandPa()
            comboTypePa()
            combosbProduct()
            combosbaProduct()
            $('#rDate').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                todayBtn: "linked",
                language: "es"
            })
            $("#rHour").timepicker({
                template: 'modal',
                timeFormat: 'hh:mm p',
                interval: 60,
                minTime: '10',
                maxTime: '6:00pm',
                startTime: '10:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            })
            /*Reservaciones*/

            allReservations()

            $(document).on('click', '#btnDeleteReservationModal', function () {
                
                idReservation = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteReservation').on('click', function () {
                deleteReservation(idReservation)
            })

            $(document).on('click', '#btnSearchReservationModal', function () {             
                idReservation = $(this).parents("tr").find("td").eq(0).html();
                searchReservation(idReservation)

            })

            $('#btnUpdateReservation').on('click', function () {

                var reservation = new Object()

                reservation.id = idReservation
                reservation.email = $('#rEmail').val()
                reservation.name = $('#rName').val()
                reservation.flName = $('#rflName').val()
                reservation.idService = $('#rService').val()
                reservation.process = $('#rProcess').val()
                reservation.reservation = $('#rDate').val() + ' ' + $('#rHour').val()
                updateReservation(reservation.id, JSON.stringify(reservation))

            })
            /*Servicios*/
            allServices()
            $(document).on('click', '#btnDeleteServiceModal', function () {

                idService = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteService').on('click', function () {
                deleteService(idService)
            })
            $(document).on('click', '#btnSearchServiceModal', function () {
                idService = $(this).parents("tr").find("td").eq(0).html();
                searchService(idService)

            })

            $('#btnUpdateService').on('click', function () {

                var service = new Object()

                service.id = idService
                service.name = $('#sName').val()
                service.type = $('#sType').val()
                service.price = $('#sPrice').val()
                service.description = $('#sDescription').val()
                updateService(service.id, JSON.stringify(service))

            })
            /*Empleados*/
            allEmployees()
            $('#btnCreateEmploye').on('click', function () {
                var employe = new Object()

                employe.name = $('#ecName').val()
                employe.firstName = $('#ecfName').val()
                employe.lastName = $('#eclName').val()
                employe.cellPhone = $('#ecPhone').val()
               
                createEmploye(JSON.stringify(employe))
            })
            $(document).on('click', '#btnDeleteEmployeModal', function () {

                idEmploye = $(this).parents("tr").find("td").eq(0).html();
            })

            $('#btnDeleteEmploye').on('click', function () {
                deleteEmploye(idEmploye)
            })
            $(document).on('click', '#btnSearchEmployeModal', function () {
                idEmploye = $(this).parents("tr").find("td").eq(0).html();
                searchEmploye(idEmploye)

            })

            $('#btnUpdateEmploye').on('click', function () {

                var employe = new Object()

                employe.id = idEmploye
                employe.name = $('#eName').val()
                employe.firstName = $('#efName').val()
                employe.lastName = $('#elName').val()
                employe.cellPhone = $('#ePhone').val()
                updateEmploye(employe.id, JSON.stringify(employe))

            })
            /*Registro de veenta de servicios*/
            allRegisterSale()
            $('#btnCreateSale').on('click', function () {

                var register = new Object()

                register.idService = $('#ssService').val()
                register.idStore = $('#ssStore').val()
                register.idEmploye = $('#ssEmploye').val()
                register.discount = $('#ssDiscount').val()
                register.total = $('#ssPay').val()

                console.log(register)
                createSaleService(JSON.stringify(register))

            })
            $(document).on('click', '#btnDeletessRegisterModal', function () {

                idRegisterSaless = $(this).parents("tr").find("td").eq(0).html();
            })
            $('#btnDeletessRegister').on('click', function () {
                deleteRegisterSale(idRegisterSaless)
            })
            $(document).on('click', '#btnSearchssRegisterModal', function () {
                idRegisterSaless = $(this).parents("tr").find("td").eq(0).html();              
                searchRegisterSale(idRegisterSaless)

            })

            $('#btnUpdatessRegister').on('click', function () {

                var register = new Object()

                register.id = idRegisterSaless
                register.idService = $('#ssService').val()
                register.idStore = $('#ssStore').val()
                register.idEmploye = $('#ssEmploye').val()
                register.total = $('#ssPay').val()
                console.log(register)
               
             
                updataRegisterSale(idRegisterSaless, JSON.stringify(register))

            })
            /*Registro de Venta con reservacion*/
            allRegisterReservationSale()
            $(document).on('click', "#srRegister", function () {

                var id = $('#srReservation').val()
                searchRegister(id)
            })
            $('#btnCreateSR').on('click', function () {

                var registerSale = new Object()

                registerSale.idReservation = $('#srReservation').val()
                registerSale.idEmploye = $('#srEmploye').val()
                registerSale.idService = $('#srService').val()
                registerSale.discount = $('#srDiscount').val()
                registerSale.total= $('#srPay').val()
                
                createReservation(JSON.stringify(registerSale))
                updateProcess(registerSale.idReservation)
            })
            $(document).on('click', '#btnDeletesrReservationModal', function () {

                idRegisterSalesr = $(this).parents("tr").find("td").eq(0).html();
            })
            $('#btnDeletesrRegister').on('click', function () {
                deleteRegisterReservationSale(idRegisterSalesr)
            })

            $(document).on('click', '#btnSearchsrReservationModal', function () {
                idRegisterSalesr = $(this).parents("tr").find("td").eq(0).html();
                searchRegisterSaleReservation(idRegisterSalesr)

            })

            $('#btnUpdatesrRegister').on('click', function () {

                var register = new Object()

                register.id = idRegisterSalesr
                register.idReservation = $('#srReservation').val()
                register.idEmploye = $('#srEmploye').val()
                register.total = $('#srPay').val()
                console.log(register)


                updataRegisterSaleReservation(idRegisterSalesr, JSON.stringify(register))

            })

            /*-----------------------------------INVENTARIO-------------------------------------*/
            
            /*Ventas*/
            allSaleProduct()

            $('#btnspRegister').on('click', function () {

                id = $('#spProduct').val()

                console.log(id)
                var registerSale = new Object()

                registerSale.idProduct = id
                registerSale.idStore = $('#spStore').val()
                registerSale.quantity = $('#spQuantity').val()
                registerSale.discount = 0
                registerSale.total = $('#spPay').val()

                var down = new Object()

                down.id = id
                down.quantity = $('#spQuantity').val()

                createSaleProduct(JSON.stringify(registerSale))
                updateDownProduct(id, JSON.stringify(down))

            })
        
            $(document).on('click', '#btnSearchSaleProductModal', function () {
                idRegisterSalesp = $(this).parents("tr").find("td").eq(0).html();

                console.log(idRegisterSalesp)
                searchRegisterSaleProduct(idRegisterSalesp)
            })

            $('#btnUpdatesrRegister').on('click', function () {

                var registerSale = new Object()

                registerSale.idProduct = id
                registerSale.idStore = $('#spStore').val()
                registerSale.quantity = $('#spQuantity').val()
                registerSale.discount = 0
                registerSale.total = $('#spPay').val()


                updateRegisterSaleReservation(idRegisterSalesp, JSON.stringify(register))

            })
            $(document).on('click', '#btnDeleteSaleProduct', function () {

                var high = Object()


                high.idProduct = $('#spProduct').val()
                high.quantity = $('#spQuantity').val()

                console.log(high)
                updateHighProduct(high.idProduct, JSON.stringify(high))
                deleteSaleProduct(idRegisterSalesp)
            })

            /*Productos*/
            allProduct()

            $('#btnCreateProduct').on('click', function () {


                var product = new Object()



                product.idBrand = $('#pBrand').val()
                product.idType = $('#pType').val()
                product.name = $('#pName').val()
                product.description = $('#pDescription').val()
                product.salePrice = $('#pPrice').val()
                product.quantity = 0


                console.log(product)
                createProduct(JSON.stringify(product))
            })


            $(document).on('click', '#btnSearchProductModal', function () {
                idProduct = $(this).parents("tr").find("td").eq(0).html();

                console.log(idProduct)
                searchProduct(idProduct)
            })

            $('#btnUpdateProduct').on('click', function () {

                var product = new Object()



                product.idBrand = $('#paBrand').val()
                product.idType = $('#paType').val()
                product.name = $('#paName').val()
                product.description = $('#paDescription').val()
                product.salePrice = $('#paPrice').val()
                product.quantity = $('#paQuantity').val()

                console.log(product)
                updateProduct(idProduct, JSON.stringify(product))

            })
           
            $(document).on('click', '#btnDeleteProductModal', function () {

                idProduct = $(this).parents("tr").find("td").eq(0).html();
            })
            $('#btnDeleteProduct').on('click', function () {
                deleteProduct(idProduct)
            })

            /*Compras*/
            allBuyed()
            $('#btnCreateBuyed').on('click', function () {


                var buyed = new Object()
                buyed.idProduct = $('#bProduct').val()
                buyed.priceBuy = $('#bBuyed').val()
                buyed.quantity = $('#bQuantity').val()

                var high = new Object()
                high.id = $('#bProduct').val()
                high.quantity = $('#bQuantity').val()

                console.log(high)
                console.log(buyed)
                updateHighProduct(high.id, JSON.stringify(high))
                createBuyedProduct(JSON.stringify(buyed))
            })

            $(document).on('click', '#btnSearchBuyedModal', function () {
                idBuyed = $(this).parents("tr").find("td").eq(0).html();

                console.log(idBuyed)
                searchBuyedProduct(idBuyed)
            })

            $('#btnUpdateBuyed').on('click', function () {

                var buyed = new Object()
                buyed.id = idBuyed
                buyed.idProduct = $('#baProduct').val()
                buyed.priceBuy = $('#baBuyed').val()
                buyed.quantity = $('#baQuantity').val()

                console.log(buyed)
                updateBuyedProduct(idBuyed, JSON.stringify(buyed))

            })


            $(document).on('click', '#btnDeleteBuyedModal', function () {

                idBuyed = $(this).parents("tr").find("td").eq(0).html();
            })
            $('#btnDeleteBuyed').on('click', function () {
                deleteBuyedProduct(idBuyed)
            })
        })



/*---------------------------------------------------------------INICIAN FUNCIONES DE COMPRA DE INVENTARIO--------------------------------------------------------------*/


        /*LISTA DE TODAS LAS VENTAS*/
        function allBuyed() {
            $('#listBuyed').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/CompraProductos',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameProduct" },
                    { "data": "priceBuy" },
                    { "data": "quantity" },
                    { "data": "register" },
                    {
                        "defaultContent":

                                "<button type='button' id='btnDeleteBuyedModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteBuyed' >Eliminar</button>" +
                                "<button type='button' id='btnSearchBuyedModal' class='btn btn-warning '    data-toggle='modal' data-target='#modalUpdateBuyed'>Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }

        /*DESPLIEGUE DE PRODUCTOS*/
        function combosbProduct() {
            var url = '../../Api/ComProducto'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#bProduct').append(value)
            })
        }


        /*DESPLIEGUE DE PRODUCTOS*/
        function combosbaProduct() {
            var url = '../../Api/ComProducto'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#baProduct').append(value)
            })
        }


        /*CREACION REGISTRO DE COMPRA DE PRODUCTO*/
        function createBuyedProduct(register) {
            $.ajax({

                url: "../../Api/CompraProductos/producto",
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: register,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Registro de Compra Exitoso")
                        location.reload()
                    },
                    400: function () {

                        alert("Registro de Compra no Exitoso")
                        location.reload()

                    }
                }
            })
        }


        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updateHighProduct(id, high) {
            var url = '../../Api/Producto/Alta/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: high,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Cantidad de productos en existencia Actualizada')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro  no fue encontrado')
                        location.reload()
                    },
                    500: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updateBuyedProduct(id, register) {
            var url = '../../Api/CompraProductos/producto/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: register,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Registro con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE VENTA POR ID*/
        function searchBuyedProduct(id) {
            var url = '../../Api/CompraProductos/producto/' + id
            $.getJSON(url)
                .done(function (data) {
                    $('#baProduct').val(data.idProduct)
                    $('#baBuyed').val(data.priceBuy)
                    $('#baQuantity').val(data.quantity)
                })
                .fail(function (erro) {
                    Console.log("Producto no encontrado")
                })
        }



        /*ELIMINACION DE REGISTRO DE VENTA*/
        function deleteBuyedProduct(id) {
            var url = '../../Api/CompraProductos/producto/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El registro  fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El registro con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }





/*---------------------------------------------------------------FINALIZAN FUNCIONES DE COMPRA DE INVENTARIO------------------------------------------------------------*/





/*---------------------------------------------------------------INICIAN FUNCIONES DE PRODUCTOS--------------------------------------------------------------*/


        /*LISTA DE TODAS LAS VENTAS*/
        function allProduct() {
            $('#listProducts').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/Productos',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameProduct" },
                    { "data": "nameBrand" },
                    { "data": "nameType" },
                    { "data": "description" },
                    { "data": "salePrice" },
                    { "data": "quantity" },
                    {
                        "defaultContent":

                                "<button type='button' id='btnDeleteProductModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteProduct' >Eliminar</button>" +
                                "<button type='button' id='btnSearchProductModal' class='btn btn-warning '    data-toggle='modal' data-target='#modalUpdateProduct'>Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }





        /*DESPLIEGUE DE MARCAS*/
        function comboBrand() {
            var url = '../../Api/ComMarcasProducto'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#pBrand').append(value)
            })
        }

        /*DESPLIEGUE DE TIPOS DE PRODUCTO*/
        function comboType() {
            var url = "../../Api/ComTipoProducto"
            var value = ""
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#pType').append(value)
            })
        }



        /*DESPLIEGUE DE MARCAS*/
        function comboBrandPa() {
            var url = '../../Api/ComMarcasProducto'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#paBrand').append(value)
            })
        }

        /*DESPLIEGUE DE TIPOS DE PRODUCTO*/
        function comboTypePa() {
            var url = "../../Api/ComTipoProducto"
            var value = ""
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#paType').append(value)
            })
        }




        /*CREACION REGISTRO DE VENTA DE PRODUCTO*/
        function createProduct(register) {
            $.ajax({

                url: "../../Api/Productos/producto/",
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: register,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Registro de producto Exitoso")
                        location.reload()
                    },
                    400: function () {

                        alert("Registro de producto no Exitoso")
                        location.reload()

                    }
                }
            })
        }


        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updateProduct(id, register) {
            var url = '../../Api/Productos/producto/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: register,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Producto con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Producto con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE VENTA POR ID*/
        function searchProduct(id) {
            var url = '../../Api/Productos/producto/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#paBrand').val(data.idBrand)
                    $('#paType').val(data.idType)
                    $('#paName').val(data.name)
                    $('#paDescription').val(data.description)
                    $('#paPrice').val(data.salePrice)
                    $('#paQuantity').val(data.quantity)


                })
                .fail(function (erro) {
                    Console.log("Producto no encontrado")
                })
        }


        /*ELIMINACION DE REGISTRO DE VENTA*/
        function deleteProduct(id) {
            var url = '../../Api/Productos/producto/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El registro  fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El registro con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }



/*---------------------------------------------------------------FINALIZAN FUNCIONES DE PRODUCTOS------------------------------------------------------------*/



/*---------------------------------------------------------------INICIAN FUNCIONES VENTA DE INVENTARIO--------------------------------------------------------------*/


        /*LISTA DE TODAS LAS VENTAS*/
        function allSaleProduct() {
            $('#listRegisterSale').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/RegistroProductos',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameProduct" },
                    { "data": "nameStore" },
                    { "data": "quantity" },
                    { "data": "discount" },
                    { "data": "total" },
                    { "data": "registerSale" },
                    {
                        "defaultContent":

             
                                "<button type='button' id='btnSearchSaleProductModal' class='btn btn-warning '    data-toggle='modal' data-target='#modalUpdateSaleProduct'>Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }



        /*DESPLIEGUE DE PRODUCTOS*/
        function combospProduct() {
            var url = '../../Api/ComProducto'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#spProduct').append(value)
            })
        }

        /*DESPLIEGUE DE VENTA*/
        function combospStore() {
            var url = "../../Api/ComTienda"
            var value = ""
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#spStore').append(value)
            })
        }

        /*CREACION REGISTRO DE VENTA DE PRODUCTO*/
        function createSaleProduct(register) {
            $.ajax({

                url: "../../Api/RegistroProductos/Venta",
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: register,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Registro de venta Exitoso")
                        location.reload()
                    },
                    400: function () {

                        alert("Registro de venta no Exitoso")
                        location.reload()

                    }
                }
            })
        }

        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updateHighProduct(id, high) {
            var url = '../../Api/Producto/Alta/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: high,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Cantidad de productos en existencia Actualizada')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro  no fue encontrado')
                        location.reload()
                    },
                    500: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }

        /*ACTUALIZACION DE PRODUCTOS EN EXISTENCIA*/
        function updateDownProduct(id, down) {
            var url = '../../Api/Producto/Baja/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: down,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Cantidad de productos en existencia Actualizada')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro  no fue encontrado')
                        location.reload()
                    },
                    500: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }

        /*ELIMINACION DE REGISTRO DE VENTA*/
        function deleteSaleProduct(id) {
            var url = '../../Api/RegistroProductos/Venta/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El registro  fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El registro con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updateRegisterSaleProduct(id, register) {
            var url = '../../Api/RegistroProductos/Venta/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: register,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Registro con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }

        /*BUSQUEDA DE VENTA POR ID*/
        function searchRegisterSaleProduct(id) {
            var url = '../../Api/RegistroProductos/Venta/' + id
            $.getJSON(url)
                .done(function (data) {
                  
                    $('#spProduct').val(data.idProduct)
                    $('#spStore').val(data.idStore)
                    $('#spQuantity').val(data.quantity)
                    $('#spPay').val(data.total)


                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };







/*---------------------------------------------------------------FINALIZAN FUNCIONES DE VENTA  DE INVENTARIO------------------------------------------------------------*/





/*---------------------------------------------------------------INICIAN FUNCIONES DE REGISTRO VENTA--------------------------------------------------------------*/

        /*DESPLIEGUE DE SERVICIOS*/
        function combossService() {
            var url = '../../Api/ComServicio'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#ssService').append(value)
            })
        }

        /*DESPLIEGUE DE EMPLEADOS*/
        function combossEmploye() {
            var url = '../../Api/ComEmpleados'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#ssEmploye').append(value)
            })
        }

        /*CREACION DE REGISTRO DE VENTA SERVICIO*/
        function createSaleService(register) {
            $.ajax({

                url: "../../Api/VentaServicios/Venta",
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: register,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Registro de venta Exitoso")
                        location.reload()
                    },
                    400: function () {

                        alert("Registro de venta no Exitoso")
                        location.reload()

                    }
                }
            })
        }

        /*DESPLIEGUE DE VENTA*/
        function combosStore() {
            var url = "../../Api/ComTienda"
            var value = ""
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#ssStore').append(value)
            })
        }


        /*LISTA DE TODAS LAS VENTAS*/
        function allRegisterSale() {
            $('#listSale').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/VentaServicios',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameService" },
                    { "data": "nameStore" },
                    { "data": "nameEmploye" },
                    { "data": "dateRegister" },
                    { "data": "discount" },
                    { "data": "total" },
                    {
                        "defaultContent":

                                "<button type='button' id='btnDeletessRegisterModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeletessRegister' >Eliminar</button>" +
                                "<button type='button' id='btnSearchssRegisterModal' class='btn btn-warning '    data-toggle='modal' data-target='#modalUpdatessRegister'>Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }


        /*ELIMINACION DE REGISTRO DE VENTA*/
        function deleteRegisterSale(id) {
            var url = '../../Api/VentaServicios/Venta/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El registro  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El registro con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

        /*BUSQUEDA DE VENTA POR ID*/
        function searchRegisterSale(id) {
            var url = '../../Api/VentaServicios/Venta/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#ssService').val(data.idService)
                    $('#ssStore').val(data.idStore)
                    $('#ssEmploye').val(data.idEmploye)
                    $('#ssPay').val(data.total)


                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updataRegisterSale(id, register) {
            var url = '../../Api/VentaServicios/Venta/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: register,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Registro con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            })
        }




/*---------------------------------------------------------------FINALIZAN FUNCIONES DE REGISTRO vENTA------------------------------------------------------------*/


/*---------------------------------------------------------------INICIAN FUNCIONES DE REGISTRO DE VENTA CON RESERVACION--------------------------------------------------------------*/

        /*DESPLIEGUE DE CLIENTES CON FORMULARIO */
        function combosrNameCustomer() {
            var url = '../../Api/comReservaciones'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#srReservation').append(value)
            })
        }
        
        /*DESPLIEGUE DE SERVICIOS*/
        function combosrService() {
            var url = '../../Api/ComServicio'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#srService').append(value)
            })
        }


        /*DESPLIEGUE DE EMPLEADOS*/
        function combosrEmploye() {
            var url = '../../Api/ComEmpleados'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#srEmploye').append(value)
            })
        }


        /*BUSQUEDA DE SERVICIO POR ID*/
        function searchRegister(id) {
            var url = '../../Api/ComRegistroReservacion/Registro/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#srService').val(data.idService)
                    $('#srPay').val(data.price)
                   

                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*CREACION DE REGISTRO DE VENTA CON RESERVACION*/
        function createReservation(registerSale) {
            $.ajax({

                url: "../../Api/VentasReservacion/Venta",
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: registerSale,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Registro de venta Exitoso")
                        location.reload()
                    },
                    400: function () {

                        alert("Registro de venta no Exitoso")
                        location.reload()

                    }
                }
            })
        }

        /*ACTUALIZACION DE PROCESO DE RESERVATION*/
        function updateProcess(id, employe) {
            var url = '../../Api/Actualizar/Proceso/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: employe,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('El empleado con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('El Empleado con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }

        /*LISTA DE TODAS LAS VENTAS CON RESERVACION*/
        function allRegisterReservationSale() {
            $('#listSaleReservation').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/VentasReservacion',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameReservation" },
                    { "data": "nameService" },
                    { "data": "nameStore" },
                    { "data": "nameEmploye" },
                    { "data": "dateRegister" },
                    { "data": "discount" },
                    { "data": "total" },
                    {
                        "defaultContent":

                                "<button type='button' id='btnDeletesrReservationModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalRegisterReservation' >Eliminar</button>" +
                                "<button type='button' id='btnSearchsrReservationModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdatesrReservation' >Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }




        /*ELIMINACION DE REGISTRO DE VENTA CON  RESERVACION*/
        function deleteRegisterReservationSale(id) {
            var url = '../../Api/VentasReservacion/Venta/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El registro  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El registro con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }


        /*BUSQUEDA DE VENTA CON RESERVACION  POR ID*/
        function searchRegisterSaleReservation(id) {
            var url = '../../Api/VentasReservacion/Venta/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#srReservation').val(data.idReservation)
                    $('#srEmploye').val(data.idEmploye)
                    $('#srPay').val(data.total)


                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };

        /*ACTUALIZACION DE REGISTRO DE VENTA*/
        function updataRegisterSaleReservation(id, register) {
            var url = '../../Api/VentasReservacion/Venta/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: register,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Registro con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Registro con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }

/*---------------------------------------------------------------FINALIZAN FUNCIONES DE REGISTRO DE VENTA CON RESERVACION------------------------------------------------------------*/




/*---------------------------------------------------------------INICIAN FUNCIONES DE RESERVACIONES---------------------------------------------------------*/



        /*LISTA DE TODAS LAS RESERVACIONES*/
        function allReservations() {
            $('#listReservations').DataTable({
                'stateSave': true,
                'scrollY':'600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy' : true,
                'ajax': {
                    'url': '../../Api/CatReservaciones',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "nameService" },
                    { "data": "nameStore" },
                    { "data": "email" },
                    { "data": "name" },
                    { "data": "nameFL" },
                    { "data": "dateReservation" },
                    { "data": "reservation" },
                    { "data": "process" },
                    {
                        "defaultContent": 
                                
                                "<button type='button' id='btnDeleteReservationModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteReservation' >Eliminar</button>" +
                                "<button type='button' id='btnSearchReservationModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateReservation' >Modificar</button>"           
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons' : [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                ],
                'language': traduccion_espaniol

            })
        }



        /*ACTUALIZACION DE RESERVACION*/
        function updateReservation(id, reservation) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: reservation,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('cliente con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('cliente con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            })
        }


        /*BUSQUEDA DE RESERVACION POR ID*/
        function searchReservation(id) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.getJSON(url)
                .done(function (data) {

                    var date = data.reservation
                    var date = date.substring(0, 10)
                    var hour = data.reservation
                    var hour = hour.substring(11, 19)
                    $('#rEmail').val(data.email)
                    $('#rName').val(data.name)
                    $('#rflName').val(data.flName)
                    $('#rService').val(data.idService)
                    $('#rProcess').val(data.process)
                    $('#rDate').val(date)
                    $('#rHour').val(hour)
                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*ELIMINACION DE RESERVACION*/
        function deleteReservation(id) {
            var url = '../../Api/CatReservaciones/Reservacion/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('La reservacion con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('La reservaion con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }


        /*DESPLIEGUE DE SERVICIOS PARA FORMULARIO */
        function comboService() {
            var url = '../../Api/ComServicio'
            var value = ''
            $.getJSON(url, function (data) {
                $.each(data, function (key, item) {
                    value += '<option value=' + item.id + '> ' + item.name + '</option>'
                })
                $('#rService').append(value)
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE RESERVACIONES--------------------------------------------------------------*/


/*--------------------------------------------------------INICIAN FUNCIONES DE SERVICIOS--------------------------------------------------------------------*/




        /*LISTA DE TODOS LOS SERVICIOS*/
        function allServices() {
            $('#listServices').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/CatServicio',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "name" },
                    { "data": "type" },
                    { "data": "description" },
                    { "data": "price" },
                    {
                        "defaultContent":
                                "<button type='button' id='btnDeleteServiceModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteService' >Eliminar</button>" +
                                "<button type='button' id='btnSearchServiceModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateService' >Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                     {
                         'extend': 'pdfHtml5',
                         'text': 'Reporte PDF',
                         'titleAttr': 'pdf'

                     }
                ],
                'language': traduccion_espaniol

            })
        }



        /*ACTUALIZACION DE SERVICIOS*/
        function updateService(id, service) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: service,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('Servicio con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('Servicio con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE SERVICIO POR ID*/
        function searchService(id) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.getJSON(url)
                .done(function (data) {

                   
                    $('#sName').val(data.name)
                    $('#sType').val(data.type)
                    $('#sPrice').val(data.price)
                    $('#sDescription').val(data.description)
                    
                })
                .fail(function (erro) {
                    Console.log("Cliente no encontrado")
                });
        };


        /*ELIMINACION DE SERVICIO*/
        function deleteService(id) {
            var url = '../../Api/CatServicio/Servicio/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El servicio  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload()
                    },
                    404: function () {

                        alert('El servicio con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE SERVICIOS--------------------------------------------------------------------*/



/*--------------------------------------------------------INICIAN FUNCIONES DE EMPLEADOS----------------------------------------------------------------------*/



        /*LISTA DE TODOS LOS EMPLEADOS*/
        function allEmployees() {
            $('#listEmployees').DataTable({
                'stateSave': true,
                'scrollY': '600px',
                'scrollCollapse': false,
                'paging': false,
                'destroy': true,
                'ajax': {
                    'url': '../../Api/CatEmpleados',
                    'type': 'GET',
                    'dataType': 'json'
                },
                "columns": [

                    { "data": "id" },
                    { "data": "name" },
                    { "data": "firstName"},
                    { "data": "lastName" },
                    { "data": "cellPhone" },
                    {
                        "defaultContent":
                                "<button type='button' id='btnDeleteEmployeModal' class='btn btn-danger mr-1' data-toggle='modal' data-target='#modalDeleteEmploye' >Eliminar</button>" +
                                "<button type='button' id='btnSearchEmployeModal' class='btn btn-warning ' data-toggle='modal' data-target='#modalUpdateEmploye' >Modificar</button>"
                    },
                ],
                'ServerSide': true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'excelHtml5',
                        'text': 'Reporte Excel',
                        'titleAttr': 'Excel'

                    },
                     {
                         'extend': 'pdfHtml5',
                         'text': 'Reporte PDF',
                         'titleAttr': 'pdf'

                     }
                ],
                'language': traduccion_espaniol

            })
        }



        /*CREACION DE EMPLEADO*/
        function createEmploye(employe) {
            $.ajax({

                url: '../../Api/CatEmpleados/Empleado/',
                type: "POST",
                contentType: "application/json; charset= utf-8",
                data: employe,
                dataType: "json",
                statusCode: {
                    200: function () {
                        alert("Su Empleado ha sido Registrado")
                        console.log("Su Empleado ha sido Registrado")
                        location.reload()
                    },
                    400: function () {

                        alert("Su Empleado no pudo ser Registrado con exito")
                        location.reload()

                    }
                }
            })
        }


        /*ACTUALIZACION DE EMPLEADO*/
        function updateEmploye(id, employe) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.ajax({
                url: url,
                type: 'PUT',
                data: employe,
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {
                        alert('El empleado con ' + id + ' fue actualizado exitosamente')
                        location.reload()
                    },
                    404: function () {
                        alert('El Empleado con ' + id + ' no fue encontrado')
                        location.reload()
                    },
                    400: function () {
                        alert('Error')
                        location.reload()
                    }
                }
            });
        }


        /*BUSQUEDA DE EMPLEADO POR ID*/
        function searchEmploye(id) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.getJSON(url)
                .done(function (data) {


                    $('#eName').val(data.name)
                    $('#efName').val(data.firstName)
                    $('#elName').val(data.lastName)
                    $('#ePhone').val(data.cellPhone)

                })
                .fail(function (erro) {
                    Console.log("Empleado  no encontrado")
                });
        };


        /*ELIMINACION DE EMPLEADO*/
        function deleteEmploye(id) {
            var url = '../../Api/CatEmpleados/Empleado/' + id
            $.ajax({
                url: url,
                type: 'DELETE',
                contentType: 'application/json;chartset=utf-8',
                statusCode: {
                    200: function () {

                        alert('El Empleado  con  el: ' + id + ' fue Exitosamente eliminada')
                        location.reload();
                    },
                    404: function () {

                        alert('El Empleado con el: ' + id + ' no pudo ser eliminado')
                        location.reload()
                    }
                }
            })
        }

/*--------------------------------------------------------FINALIZAN FUNCIONES DE EMPLEADO--------------------------------------------------------------------*/

























        /*VARIABLE GLOBAL QUE TRADUCE LOS COMPONENTES DEL DATATABLE*/
        var traduccion_espaniol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }


    </script>

   
</body>
</html>