<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barberia The Pepe's Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/MisEstilos/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Navegacion-->

    <nav class="navbar navbar-dark navbar-expand-md sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="~/Home/Index">
            <img src="~/Images/Logo.svg" class="d-inline-block logo-svg align-top" alt="Logo Bootstrap">
        </a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav ml-auto  mr-auto text-center">
                <li class="nav-item ">@Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Servicios", "Service", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Sucursal", "Stores", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item ">@Html.ActionLink("Nosotros", "About", "Home", new { @class = "nav-link" })</li>
            </ul>
            <div class="d-flex flex-row justify-content-center">
                <span class="icon-facebook mr-4"></span>
                <span class="icon-youtube"></span>
            </div>

        </div>
    </nav>
    <!--Termina Barra de Navegacion-->


    @RenderBody()

    <hr />

    <!--Footer-->
    <footer class="page-footer font-small stylish-color-dark pt-4 mt-4 ">
        <!--Social buttons-->
        <div class="text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="list-inline-item"><a href="#"><span class="icon-youtube"></span></a></li>
                <li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
        </div>
        <!--/.Social buttons-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                © 2018 Copyright: Aplicaciones Distribuidas
            </div>
        </div>
    </footer>
    <!--/ Termina Footer-->



   
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/MisScripts/js")
    @RenderSection("scripts", required: false)

 <script>
/*Eventos que ser cargaran */
    $(document).ready(function () {
           comboStore()
           comboService()
           $('#rDate').datepicker({
               uiLibrary: 'bootstrap4',
               format: 'dd/mm/yyyy',
               todayBtn: "linked",
               language: "es"
           })
           $("#rHour").timepicker({
               template: 'modal',
               timeFormat: 'hh:mm p',
               interval: 60,
               minTime: '10',
               maxTime: '6:00pm',
               startTime: '10:00',
               dynamic: false,
               dropdown: true,
               scrollbar: true
           })
           $('#btnReservar').on('click', function () {

               var reservation = new Object()
             
               reservation.idService = $('#rService').val()
               reservation.idStore = $('#rStore').val()
               reservation.email = $('#rEmail').val()
               reservation.name = $('#rName').val()
               reservation.flName = $('#rflName').val()
               reservation.reservation = $('#rDate').val() + ' ' + $('#rHour').val()
               console.log(reservation)
               createReservation(JSON.stringify(reservation))
           })
              
    })

  
        

    /*Creacion de Reservacion*/
    function createReservation(reservation) {
            $.ajax({

            url: "../../Api/CatReservaciones/Reservacion",
            type: "POST",
            contentType: "application/json; charset= utf-8",
            data: reservation,
            dataType: "json",
            statusCode: {
                200: function () {
                    alert("Su Reservacion ha sido exitosa por favor Revise su correo")
                    location.reload()
                },
                400: function () {

                    alert("Su Reservacion no pudo realizar con exito")
                    location.reload()

                }
            }
        })
    }

    /*Despliegue de informacion Servicios*/
     function comboService() {
        var url = "../../Api/ComServicio"
        var value = ""    
        $.getJSON(url, function (data) {
            $.each(data, function (key, item) {
                value += '<option value='+ item.id +'> '+ item.name +'</option>'
            })
            $('#rService').append(value)
        })   
    }


    /*Despligue de informacion Tienda*/
     function comboStore() {
         var url = "../../Api/ComTienda"
         var value = ""
         $.getJSON(url, function (data) {
             $.each(data, function (key, item) {
                 value += '<option value=' + item.id + '> ' + item.name + '</option>'
             })
             $('#rStore').append(value)
         })
     }


</script>
</body>
</html>
