<!--servicios-->
<div class="fondo pt-3">
    <div class="container">
        <h2 class="mt-3 ">Servicios</h2>
        <hr>
        <div class="card-deck pt-1">
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/recortar_el_bigote_de_manera_facil-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">RECORTE Y ALINEADO DE BIGOTE</h5>
                    <p class="card-text">RECORTE, ARREGLO Y ALINEADO DE BIGOTE, PARA VERTE COMO TODO UN HOMBRE REVOLUCIONARIO</p>
                </div>

                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$95</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/Jr.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PELUQUERIA JR</h5>
                    <p class="card-text">CORTE DE JR AL GUSTO O CON DISEÑOS PARA IR A LA MODA PARA QUE JR SE SIENTA TODO UN HOMBRE</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$200</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/cabeza.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AFEITADO DE CABEZA</h5>
                    <p class="card-text">AFEITADO DE CABEZA, BALSAMOS, REFRESCANTE TOALLA</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$300</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
        </div>

        <hr>
        <div class="card-deck pt-1">
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/toalla-caliente-barbería.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AFEITADO DE BARBA</h5>
                    <p class="card-text">AFEITADO DE BARBA, BALSAMO, REFRESCANTE TOALLA FRIA</p>
                </div>

                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$280</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/lumberjack_01.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">	PELUQUERIA CABALLERO</h5>
                    <p class="card-text">CORTE DE CABELLO AL GUSTO O CON DISEÑOS PARA IR A LA MODA QUE EL CABALLERO MERECE</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$300</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
            <div class="card servicios">
                <img class="card-img-top img-fluid" src="~/Images/Servicios/Corte-de-Barba1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AFEITADO DE BARBA Y CABEZA</h5>
                    <p class="card-text">DOBLE TRATAMIENTO, ESPUMA CALIENTE, DOS PASADAS CON NAVAJA , BALSAMO, REFRESCANTE TOALLA FRIA</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                    <button class="btn btn-warning btn-lg">$340</button>
                </div>
                @Html.Partial("_FormRerservations")
            </div>
        </div>   
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card-deck pt-1">
                    <div class="card servicios">
                        <img class="card-img-top img-fluid" src="~/Images/Servicios/BarbaCut.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">RECORTE Y ALINEADO DE BARBA</h5>
                            <p class="card-text">RECORTE,ARREGLO Y ALINEADO DE BARBA CON NAVAJA</p>
                        </div>

                        <div class="card-footer">
                            <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                            <button class="btn btn-warning btn-lg">$190</button>
                        </div>
                        @Html.Partial("_FormRerservations")
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mt-5">Paquetes</h2>
        <hr>
        <div class="row mb-2">
            <div class="col-lg-4">
                <div class="card-deck pt-1">
                    <div class="card servicios">
                        <img class="card-img-top img-fluid" src="~/Images/Servicios/barber-4-1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">PAQUETE BASICO</h5>
                            <p class="card-text">CORTE DE CABELLO, EFEITADO BASICO, ARREGLO DE BARBA</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                            <button class="btn btn-warning btn-lg">$400</button>
                        </div>
                        @Html.Partial("_FormRerservations")
                    </div>
                </div>    
              </div>
              <div class="col-lg-4">
                   <div class="card-deck pt-1">
                       <div class="card servicios">
                           <img class="card-img-top img-fluid" src="~/Images/Servicios/15534919_1802793306638359_6307537457067851776_n.jpg"  alt="Card image cap">
                           <div class="card-body">
                               <h5 class="card-title">PAQUETE PREMIUM</h5>
                               <p class="card-text">CORTE DE CABELLO, AFEITADO CON DOBLE TRATAMIENTO,ASEO DE CALZADO, TODO UN RITUAL DEL CUAL NO SE VA ARREPENTIR</p>
                           </div>
                           <div class="card-footer">
                               <a href="#" class="btn btn-info btn-lg active" data-toggle="modal" role="button" data-target="#exampleModal" aria-pressed="true">Reserva aqui</a>
                               <button class="btn btn-warning btn-lg">$420</button>
                           </div>
                           @Html.Partial("_FormRerservations")
                       </div>
                   </div>    
             </div>
        </div>
    </div>
</div>
